.Player {
  font-weight: bold;
  font-size: 20px;
  color: aqua;
}
.name {
  display: flex;
  color: rgb(43, 107, 177);
  font-size: 45px;
  justify-content: center;
}
.name2 {
  display: flex;
  color: rgb(43, 107, 177);
  font-size: 45px;
  justify-content: center;
}
.year {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  color: rgb(43, 107, 177);
}
.year2 {
  display: flex;
  justify-content: left;
  font-size: 30px;
  color: rgb(43, 107, 177);
}
.team {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  color: rgb(153, 152, 152);
}
.team2 {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  color: rgb(153, 152, 152);
}
.playerImage1 {
  max-width: 400px;
  max-height: 300px;
}

.playerImage2 {
  max-width: 400px;
  max-height: 300px;
}

.steph {
  max-width: 410px;
  max-height: 400px;
}

.lebron {
  max-width: 410px;
  max-height: 400px;
}

.crown {
  max-height: 80px;
  max-width: 80px;
  position: absolute;
  right: 51%;
  transform: rotate(330deg)
}