.Player {
  font-weight: bold;
  font-size: 20px;
  color: aqua;
}
.name{
  display: flex;
  color: rgb(43, 107, 177);
  font-size: 45px;
  justify-content: center;
}
.name2{
  display: flex;
  color: rgb(43, 107, 177);
  font-size: 45px;
  justify-content: center;
}
.year{
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
color: rgb(43, 107, 177);
}
.year2{
  display: flex;
  justify-content: left;
  font-size: 30px;
color: rgb(43, 107, 177);
}
.team{
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  color: yellow;
}
.team2{
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  color: yellow;
}
.playerImage1 {
width: 100%;
  
}

.playerImage2 {
  width: 100%;
    
  }

  .steph{
    max-width: 450px;
    max-height: 450px;
  }

  .lebron{
    max-width: 450px;
    max-height: 450px;
  }