p {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: rgb(153, 152, 152);
  /* text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; */
}

.Vs {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  border: dashed rgb(124, 124, 252) 2px;
}
.ball2 {
  color: orange;
}
.ball {
  color: orange;
}
.Tetris {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: 600;
  width: 100px;
  height: 560px;
  align-self: flex-end;
  background-color: rgb(43, 107, 177);
  align-items: center;
  
}
.Tetris > p {
  margin: 12px;
padding: 5px;
}
