@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.title {
  max-width: 300px;
  max-height: 200px;
  
}
img {
  width: 30em;
  padding: 0.5em 0.1em;
}
h2 {
  padding-left: 5em;
  font-family: 'Roboto', sans-serif;
}
svg {
  color: rgb(153, 152, 152);
}
span {
  color: white;
}

.navBarLink {
  margin: 20px;
  color: rgb(153, 152, 152);
  font-size: 20px;
  font-weight: bolder;
}

.goatPhoto{
  max-width: 80px;
  max-height: 80px;
}

.MuiOutlinedInput-input {
  background-color: rgb(152, 153, 152) !important;
}
..MuiSvgIcon-root{
  color: black !important;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-around;
}
