.Player {
  font-weight: bold;
  font-size: 20px;
  color: aqua;
}
.name{
  color: rgb(96, 154, 254);
  font-size: 45px;
  justify-content: flex-end;
}
.year{
color: blue;
}
.team{
  color: yellow;
}
.playerImage1 {
width: 100%;
  
}

.playerImage2 {
  width: 100%;
    
  }