
.player-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(253, 253, 253) !important;
  font-size: larger;
  font-weight: 900;
  .player-name {
    font-size: 6em;
    font-family: none;
    color: rgb(43, 107, 177) !important;
  }
}

p.record {
  display: flex;
  place-content: flex-end;
}
.name-record {
  display: flex;
  display: inline-table;
}

.link-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.player-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.next-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(43, 107, 177);
  size: 30px;
  img {
    width: 15em;
    height: 15em;
  }
  h1 {
    font-weight: bold;
    size: 30px;
    color: white;
  }
}
.game-display {
  display: flex;
  flex-direction: row;
  color:rgb(43, 107, 177);
}

.teams {
  display: flex;
  flex-direction: row;
  color: white;
  font-style: oblique;
  font-size: larger;
}
.row {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.glossary {
  color: gold;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  font-size: large;
}
.glossary:after {
  content: "";
  display: table;
  clear: both;
}

.stats-title {
  color: rgb(43, 107, 177);
  display: flex;
  justify-content: flex-end;
  padding-left: 0px !important;
}
.image-container {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 16px;
}

.error-message {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

// .shot-chart {
//   margin-left: 25%;
// }

// .zone-chart {
//   margin-left: 25%;
// }
.bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
}

.record {
  color: yellow;
  font-weight: 900;
  
}