.nbaLogo{
  display: flex;
  justify-content: center;
  max-width: 400px;
  max-height: 300px;
}

.MuiDataGrid-cell {
  color: white;
}
.MuiTablePagination-root {
  font-size: 1em !important;
}
.MuiTypography-body2 {
  font-size: 1em  !important;
}
.MuiDataGrid-footer {
  max-height: 1em !important;
}

.MuiDataGrid-root .MuiDataGrid-colCellTitle {
  justify-content: center;
  display: flex;
  color: rgb(43, 107, 177);
  font-weight: bolder;
  align-items: center;
}

.Mui-even, .Mui-even:hover {
  background-color: rgb(43, 107, 177, 0.9) !important;
}

.Mui-odd, .Mui-odd:hover {
  background-color: rgb(153, 152, 152, 0.9) !important;
  
}
.MuiDataGrid-colCellWrapper {
  display: flex;
  align-items: center;
}
.MuiDataGrid-root .MuiDataGrid-columnSeparator {
  display: none !important;
}
.MuiDataGrid-root{
font-size: 1.4em !important;
}

.link-row {
  color: white  !important;
}
