.Player {
  font-weight: bold;
  font-size: 20px;
  color: aqua;
}
.name{
  display: flex;
  color: rgb(96, 154, 254);
  font-size: 45px;
  justify-content: center;
}
.year{
  display: flex;
  align-content: flex-start;
  font-size: 30px;
color: blue;
}
.year2{
  display: flex;
  justify-content: left;
  font-size: 30px;
color: blue;
}
.team{
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  color: yellow;
}
.team2{
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  color: yellow;
}
.playerImage1 {
width: 100%;
  
}

.playerImage2 {
  width: 100%;
    
  }