.nbaLogo{
  display: flex;
  justify-content: center;
  max-width: 400px;
  max-height: 300px;
}

.MuiDataGrid-cell {
  color: white;
}

.MuiDataGrid-root .MuiDataGrid-colCellTitle {
  color: white;
}

.Mui-even, .Mui-even:hover {
  background-color: rgb(43, 107, 177) !important;
}

.Mui-odd, .Mui-odd:hover {
  background-color: rgb(153, 152, 152) !important;
}