.nbaLogo{
  display: flex;
  justify-content: center;
  max-width: 400px;
  max-height: 300px;
}

.MuiDataGrid-cell {
  color: white;
}

.MuiDataGrid-root .MuiDataGrid-colCellTitle {
  color: white;
}

.Mui-even, .Mui-even:hover {
  background-color: rgb(41, 58, 111) !important;
}

.Mui-odd, .Mui-odd:hover {
  background-color: rgb(53, 53, 53) !important;
}